* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(47, 46, 43);
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#boardScreenTitle, #takeBlackPiecesTitle, #takenWhitePiecesTitle {
    color: white;
    margin-bottom: 10px;
}

.turn {
    margin-top: 5px;
    margin-bottom: 2px;
    color: white;
}

.taken-pieces-black {
    margin-left: 75px;
}

.taken-pieces-white {
    margin-right: 75px;
}

.board-title-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset {
    width: 9rem;
    height: 3rem;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(190, 76, 76);

}

#reset:hover {
    cursor: pointer;
    background-color: rgb(211, 112, 112);
}

.taken-pieces-black-list, .taken-pieces-white-list {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%;
    background-color: rgb(223, 219, 219);
    border-radius: 8px;
}

#board {
    width: 80vw;
    height: 80vw;
    max-width: 600px;
    max-height: 600px;
    background-color: brown;
    margin: auto;
    border-radius: 5px;
    border-collapse: collapse;
}

.confirm-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 200px;
    background-color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.reset-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#quit-reset, #final-reset {
    width: 9rem;
    height: 3rem;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
}

#quit-reset {
    background-color: rgb(47, 47, 205);
}

#quit-reset:hover {
    background-color: rgb(59, 59, 170);
    cursor: pointer;
}

#final-reset {
    background-color: rgb(206, 57, 57);
}

#final-reset:hover {
    background-color: rgb(195, 77, 77);
    cursor: pointer;
}

.white-promotion-menu{
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.black-promotion-menu {
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.promo{
    width: 12.5%;
    padding: 0;
    font-size: 3.5em;
    background-color: white;
    border: 0;
    border-radius: 5px;
}

td {
    text-align: center;
    border: none;
}

tr.label-row {
    height: 2.22%;
    padding: 0;
}

tr.even-row, tr.odd-row {
    height: 11.11%
}

tr.label-row, td.label-cell {
    background-color: brown;
    border: none;
}

td.number {
    width: 2.22%;
    font-size: 1.5vw;
    font-weight: 500;
    overflow: hidden;
}

td.letter {
    font-size: 1.5vw;
    font-weight: 500;
}

td.light-square, td.dark-square{
    width: 11.11%;
    max-height: 11.11%;
    text-align: center;
    padding: 0;
}

.piece, .empty{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    line-height: 1;
}

.piece:hover, .empty:hover, .promo:hover{
    cursor: pointer;
    opacity: 0.7;
}

.dark-square {
    background-color: rgb(128, 93, 93);
}

.light-square {
    background-color: palegoldenrod;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.game-over, .start-game {
    display: none;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.start-game {
    display: block;
}

.game {
    display: none;
}

.game-over-modal, .start-game-modal {
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.game-over-content, .start-game-content {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game-over-title, .start-game-title {
    color: white;
    font-weight: bold;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.game-over-type {
    color: white;
    font-weight: bold;
    background-color: rgb(47, 45, 45);
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.winner {
    color: white;
    font-weight: bold;
    background-color: rgb(47, 45, 45);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.winner-content {
    width: 25%;
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
    align-items: center;
}

.winner-king {
    font-size: 2rem;
}

.game-over-buttons, .start-game-buttons {
    color: white;
    font-weight: bold;
    background-color: black;
    width: 100%;
    height: 25%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#newGameButton, #mainMenuButton, #startGameButton {
    width: 25%;
    height: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 50, 50);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

#newGameButton:hover, #mainMenuButton:hover, #startGameButton:hover {
    background-color: rgb(60, 65, 65);
}

#newGameButton:active, #mainMenuButton:active, #startGameButton:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    border: 2px solid white;
}