html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.taken-pieces-black {
    margin-left: 75px;
}

.taken-pieces-white {
    margin-right: 75px;
}

.board-title-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset {
    width: 9rem;
    height: 3rem;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(190, 76, 76);

}

#reset:hover {
    cursor: pointer;
    background-color: rgb(211, 112, 112);
}

.taken-pieces-black-list, .taken-pieces-white-list {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50%
}

#board {
   width: 600px;
   height: 600px;
   background-color: white;
   margin: auto;
}

.confirm-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 200px;
    background-color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.reset-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#quit-reset, #final-reset {
    width: 9rem;
    height: 3rem;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
}

#quit-reset {
    background-color: rgb(47, 47, 205);
}

#quit-reset:hover {
    background-color: rgb(59, 59, 170);
    cursor: pointer;
}

#final-reset {
    background-color: rgb(206, 57, 57);
}

#final-reset:hover {
    background-color: rgb(195, 77, 77);
    cursor: pointer;
}

.white-promotion-menu{
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.black-promotion-menu {
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.promo{
    width: 12.5%;
    padding: 0;
    font-size: 3.5em;
    background-color: white;
    border: 0;
    border-radius: 5px;
}

td{
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    padding: 0;
}

.piece, .empty{
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.piece:hover, .empty:hover, .promo:hover{
    cursor: pointer;
    opacity: 0.7;
}

.dark-square {
    background-color: rgb(128, 93, 93);
}

.light-square {
    background-color: palegoldenrod;
}