* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #2f2e2b, #1e1d1b);
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

#boardScreenTitle, #takeBlackPiecesTitle, #takenWhitePiecesTitle {
    color: white;
    margin-bottom: 10px;
}

.turn {
    margin-top: 5px;
    margin-bottom: 2px;
    color: white;
}

@media screen and (max-width: 1075px) {
    .taken-pieces-black, .taken-pieces-white {
        display: none;
    }
}

@media screen and (min-width: 1076px) {
    .taken-pieces-black, .taken-pieces-white {
        display: block;
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

.board-title-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset {
    width: 9rem;
    height: 3rem;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(to top, #3b3b3b, #5b5b5b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

#reset {
        background: linear-gradient(to top, rgb(206, 57, 57), rgb(230, 77, 77));
}

#reset:hover {
    background: linear-gradient(to top, rgb(195, 77, 77), rgb(219, 97, 97));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
    cursor: pointer;
}

.taken-pieces-black-list, .taken-pieces-white-list {
    min-height: 10vw;
    width: 18vw;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(223, 219, 219, 0.7);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#board {
    width: 80vw;
    height: 80vw;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    border-radius: 5px;
    border-collapse: collapse;
}

.confirm-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-height: 200px;
    margin: auto;
    padding-bottom: 1.5vw;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ebe1dc;
    text-shadow: 1px 1px 2px #000;
}

.confirm-reset-title {
    font-size: 2.5vw;
}

.reset-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

#quit-reset, #final-reset {
    width: 10vw;
    height: 3vw;
    font-size: 1.0vw;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(to top, #3b3b3b, #5b5b5b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

#quit-reset {
    background: linear-gradient(to top, rgb(47, 47, 205), rgb(70, 70, 230));
}

#quit-reset:hover {
    background: linear-gradient(to top, rgb(59, 59, 170), rgb(82, 82, 195));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
    cursor: pointer;
}

#final-reset {
    background: linear-gradient(to top, rgb(206, 57, 57), rgb(230, 77, 77));
}

#final-reset:hover {
    background: linear-gradient(to top, rgb(195, 77, 77), rgb(219, 97, 97));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
    cursor: pointer;
}

.white-promotion-menu{
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.black-promotion-menu {
    width: 700px;
    height: 200px;
    background-color: rgb(117, 100, 100);
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.promo{
    width: 12.5%;
    padding: 0;
    font-size: 3.5em;
    background-color: white;
    border: 0;
    border-radius: 5px;
}

td {
    text-align: center;
    border: none;
}

tr.label-row {
    height: 2.22%;
    padding: 0;
}

tr.even-row, tr.odd-row {
    height: 11.11%
}

tr.label-row, td.label-cell {
    border: none;
}

td.number {
    width: 2.22%;
    font-size: 1.25vw;
    font-weight: 500;
    overflow: hidden;
    color: white;
    padding: 0 5px;
}

td.letter {
    font-size: 1.25vw;
    font-weight: 500;
    color: white;
}

td.light-square, td.dark-square{
    width: 11.11%;
    max-height: 11.11%;
    text-align: center;
    padding: 0;
}

.piece, .empty{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    line-height: 1;
}

.piece:hover, .empty:hover, .promo:hover{
    cursor: pointer;
    opacity: 0.7;
}

.dark-square {
    background-color: rgb(128, 93, 93);
}

.light-square {
    background-color: palegoldenrod;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.game-over, .start-game {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.game-over {
    display: none;
}

.game {
    display: none;
}

.game-over-modal, .start-game-modal {
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.game-over-content, .start-game-content {
    width: 75%;
    height: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game-over-title, .start-game-title {
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    width: 100%;
    height: 5vw;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid white;
}

.start-game-title, .start-game-buttons {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    color: #d7b19d;
    text-shadow: 1px 1px 2px #000;
}

.game-over-type {
    color: white;
    font-weight: bold;
    background-color: rgb(47, 45, 45);
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.winner {
    color: white;
    font-weight: bold;
    background-color: rgb(47, 45, 45);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.winner-content {
    width: 25%;
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
    align-items: center;
}

.winner-king {
    font-size: 2rem;
}

.game-over-buttons, .start-game-buttons {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#newGameButton, #mainMenuButton, #startGameButton {
    width: 25%;
    height: 25%;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 50, 50);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6), 
                 0px -1px 1px rgba(255, 255, 255, 0.2), 
                 0px 1px 1px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: all 0.2s ease;
}

#newGameButton:hover, #mainMenuButton:hover, #startGameButton:hover {
    background-color: rgb(60, 65, 65);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7),
                0px -2px 2px rgba(255, 255, 255, 0.3),
                0px 2px 2px rgba(0, 0, 0, 0.5);
}

#newGameButton:active, #mainMenuButton:active, #startGameButton:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.board-img {
    width: 12vw;
    height: 12vw;
}